---
# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    hostname: {{ pihole.hostname }}
    image: {{ containers.pihole.repo }}:{{ containers.pihole.tag }}
    network_mode: "host"
    dns:
      - 127.0.0.1
{% for dns in network.dns_upstream %}
      - {{ dns }}
{% endfor %}
    environment:
      TZ: Europe/Copenhagen
      FTLCONF_webserver_port: "8082"
      FTLCONF_webserver_api_password: "{{ pihole.webpassword }}"
      FTLCONF_webserver_domain: "{{ pihole.hostname }}"
      # To allow other subnets
      FTLCONF_dns_listeningMode: "ALL"
      FTLCONF_dns_interface: "{{ ansible_facts.default_ipv4.interface }}"
      FTLCONF_dns_expandHosts: "true"
      FTLCONF_dns_revServers: "true,192.168.0.0/24,192.168.0.1#53,{{ network.local_domain }}"
      FTLCONF_dns_upstreams: "{% for dns in network.dns_upstream %}{{ dns }}{% if not loop.last %};{% endif %}{%endfor%}"
      FTLCONF_dns_bogusPriv: "true"
      FTLCONF_dns_domainNeeded: "true"
      FTLCONF_dns_domain_name: "{{ network.local_domain }}"
      FTLCONF_dns_hosts: "{% for host in pihole.records.a %}{{ host }}{% if not loop.last %};{% endif %}{%endfor%}"
      FTLCONF_dns_cnameRecords: "{% for host in pihole.records.cname %}{{ host }}{% if not loop.last %};{% endif %}{%endfor%}"
      FTLCONF_dns_rateLimit_count: 10000
      FTLCONF_dns_rateLimit_interval: 10
      FTLCONF_dhcp_active: "false"
      FTLCONF_ntp_ipv4_active: "false"
      FTLCONF_ntp_ipv6_active: "false"
      FTLCONF_ntp_sync_active: "false"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/pihole/data/etc/pihole:/etc/pihole
      - /srv/pihole/data/var/log:/var/log
      - /srv/pihole/data/backup:/backup
    restart: unless-stopped
    cap_add:
      - CAP_CHOWN #we need to be able to change ownership of log files and databases in case FTL is started as a different user than pihole
      - CAP_NET_BIND_SERVICE #Allows FTLDNS binding to TCP/UDP sockets below 1024 (specifically DNS service on port 53)
    cap_drop:
      - AUDIT_CONTROL
      - BLOCK_SUSPEND
      - DAC_READ_SEARCH
      - IPC_LOCK
      - IPC_OWNER
      - LEASE
      - LINUX_IMMUTABLE
      - MAC_ADMIN
      - MAC_OVERRIDE
      - NET_ADMIN
      - NET_BROADCAST
      - SYSLOG
      - SYS_ADMIN
      - SYS_BOOT
      - SYS_MODULE
      - SYS_PACCT
      - SYS_PTRACE
      - SYS_RAWIO
      - SYS_RESOURCE
      - SYS_TIME
      - SYS_TTY_CONFIG
      - WAKE_ALARM
