[Unit]
Description=Getmail for {{ item.username }}
After=network-online.target
OnFailure=status-email-enrique@%n.service

[Service]
User=enrique
Type=oneshot
ExecStart=/usr/bin/getmail -q -r "{{ ansible_user_dir }}/.getmail/{{ item.username }}.getmailrc"
