[defaults]
remote_tmp = /tmp/.ansible-${USER}/tmp
local_tmp = /tmp/.ansible-${USER}/tmp
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/.ansible-${USER}/fact-cache

[ssh_connection]
ssh_args=-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
