[defaults]
remote_tmp = /tmp/.ansible-${USER}/tmp
local_tmp = /tmp/.ansible-${USER}/tmp
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/.ansible-${USER}/fact-cache
library = ./roles/gpg-key-management/library

retry_files_enabled = False

[ssh_connection]
ssh_args=-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s

[inventory]
enable_plugins = advanced_host_list, tower, script, yaml, ini, auto
