PrinterId 1
UUID urn:uuid:c96b03a8-abca-3cfd-4159-850fadbf3a98
AuthInfoRequired none
Info
Location I skabet
MakeModel Brother HL-1210W for CUPS
DeviceURI ipp://brother-hl-1210w.{{ network.local_domain }}
State Idle
StateTime 1684675870
ConfigTime 1624702752
Reason cups-ipp-conformance-failure-report
Reason cups-ipp-missing-job-history
Type 8392708
Accepting Yes
Shared No
JobSheets none none
QuotaPeriod 0
PageLimit 0
KLimit 0
OpPolicy default
ErrorPolicy stop-printer
Attribute marker-colors \#000000,none
Attribute marker-levels -1,84
Attribute marker-names Black Toner Cartridge,Drum Unit
Attribute marker-types toner,opc
Attribute marker-change-time 1684665547
