# Managed by Ansible
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = true
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = false
font = {{ terminal_font }} {{ terminal_font_size }}
scrollback_lines = 1000
search_wrap = true
icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default
#browser = firefox

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]
# cursor = #ffffff
foreground = #e5e5e5
#foreground_bold = #ff0000
background = #000000

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

# if unset, will reverse foreground and background
#highlight = #2f2f2f

# colors from color0 to color254 can be set
# Black
color0 = #121212
color8 = #474747
# Red
color1 = #ae3232
color9 = #cb2b2b
# Green
color2 = #5B762F
color10 = #89B83F
# Yellow
color3 = #AA9943
color11 = #EFEF60
# Blue
color4 = #324C80
color12 = #2B4F98
# Purple
color5 = #5F5A90
color13 = #826AB1
# Cyan
color6 = #92B19E
color14 = #A1CDCD
# White
color7 = #FFFFFF
color15 = #DEDEDE

[hints]
#font = Monospace 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0
