//
user_pref("services.sync.account", "{{ email_addresses.external }}");
user_pref("services.sync.username", "{{ email_addresses.external }}");
user_pref("services.sync.client.name", "{{ item }} on {{ ansible_hostname }}");
