---
http:
  routers:
    home-assistant:
      entryPoints:
        - http
      rule: 'Host({% for hostname in homeassistant.hostnames %}`{{ hostname }}`{% if not loop.last %},{% endif %}{% endfor %})'
      service: home-assistant

  services:
    home-assistant:
      loadBalancer:
        servers:
          - url: http://{{ homeassistant.ip }}:8123/
