---
http:
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
    ratelimit:
      rateLimit:
        average: 50
        burst: 70
  routers:
    home-assistant-http:
      entryPoints:
        - http
      middlewares:
        - https-redirect
      rule: 'Host({% for hostname in homeassistant.hostnames %}`{{ hostname }}`{% if not loop.last %},{% endif %}{% endfor %})'
      service: home-assistant
    home-assistant-https:
      entryPoints:
        - https
      middlewares:
        - ratelimit
      rule: 'Host({% for hostname in homeassistant.hostnames %}`{{ hostname }}`{% if not loop.last %},{% endif %}{% endfor %})'
      service: home-assistant
      tls:
        certResolver: letsEncrypt

  services:
    home-assistant:
      loadBalancer:
        servers:
          - url: http://{{ homeassistant.ip }}:8123/
