# vim:set ft=sh
# Managed by Ansible
# - https://wiki.archlinux.org/index.php/Mkinitcpio
# - https://bbs.archlinux.org/viewtopic.php?id=231393

MODULES=()
{% if ansible_local.hardware.vga_vendor == "Intel Corporation" %}
MODULES+=(i915)
{% elif ansible_local.hardware.vga_vendor == "NVIDIA Corporation" %}
MODULES+=(nvidia nvidia_modeset nvidia_uvm nvidia_drm)
{% elif ansible_local.hardware.vga_vendor == 'Advanced Micro Devices, Inc. [AMD/ATI]' %}
MODULES+=(amdgpu)
{% endif %}

BINARIES=()

# if "modconf" hook is loaded files from /etc/modprobe.d/ and /usr/lib/modprobe.d/ is included
FILES=()

# Hooks are referred to by their name, and executed in the order they exist in the HOOKS array of the configuration file.
HOOKS=(base udev autodetect modconf keyboard keymap)
{% if ansible_facts.system_vendor == 'Apple Inc.' %}
HOOKS+=(consolefont)
{% endif %}
{% if ansible_facts.cmdline.cryptdevice is defined %}
HOOKS+=(encrypt)
{% endif %}
HOOKS+=(modconf block filesystems fsck)
