Host *
  ForwardAgent yes
  Compression yes
  TCPKeepAlive yes
  ServerAliveCountMax 3
  ServerAliveInterval 20
{% if ansible_facts.distribution != 'RedHat' or (ansible_facts.distribution == 'RedHat' and ansible_facts.distribution_version is version('6.5', '>=')) %}
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%h:%p
  ControlPersist 300
{% endif %}
  IdentityFile ~/.ssh/id_{{ ssh.key_file_type|default('rsa') }}
{% if ansible_os_family == 'Darwin' %}
  UseKeychain yes
  AddKeysToAgent yes
{% endif %}
