Host *
  ForwardAgent yes
  Compression yes
  TCPKeepAlive yes
  ServerAliveCountMax 3
  ServerAliveInterval 20
{% if ansible_distribution != 'RedHat' or (ansible_distribution == 'RedHat' and ansible_distribution_version|version_compare('6.5', '>=')) %}
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%h:%p
  ControlPersist 300
{% endif %}
  IdentityFile ~/.ssh/id_rsa
