[Unit]
Description=Duplicity Backup running in docker: performs {{ item }}
Requires=docker.service
After=docker.service
OnFailure=status-email-enrique@%n.service
ConditionPathExistsGlob=!/var/cache/duplicity/*/lockfile.lock

[Service]
Type=oneshot
ExecStart=/usr/bin/docker-compose -f /usr/local/etc/duplicity-docker/duplicity-{{item}}.yml up duplicity
