[Unit]
Description=Duplicity: {{ item }}
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar={{ duplicity[item] }}
Persistent=True
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
