{
  "service": {
    "nat": {
      "rule": {
        "1": {
          "description": "Redirect DNS requests",
          "destination": {
            "port": "53"
          },
          "inbound-interface": "eth1",
          "inside-address": {
            "address": "{{ unifi.dns_ip }}",
            "port": "53"
          },
          "source": {
            "address": "!{{ unifi.dns_ip }}"
          },
          "log": "disable",
          "protocol": "tcp_udp",
          "type": "destination"
        },
        "6000": {
          "description": "MASQ DNS requests to Pi-Hole",
          "destination": {
            "address": "{{ unifi.dns_ip }}",
            "port": "53"
          },
          "log": "disable",
          "outbound-interface": "eth1",
          "protocol": "tcp_udp",
          "type": "masquerade"
        }
      }
    }
  }
}
