conky.config = {
-- {{ ansible_managed }}
-- set to yes if you want Conky to be forked in the background
-- 09-08-2014: Changed based on: https://wiki.archlinux.org/index.php/Conky#Autostart_with_Xfce4
  background = false,
  total_run_times = 0,

-- xinerama_head = {{ conky_xinerama_head }},

  use_xft = true,
  font = 'mononoki:size={{ conky_fontsize }}',

  update_interval = 3.0,
  update_interval_on_battery = 6.0,
  cpu_avg_samples = 2,

  if_up_strictness = 'address',
  top_cpu_separate = true,
  top_name_width = 40,
  top_name_verbose = true,

  border_inner_margin = 12,

  own_window = true,
  own_window_type = 'normal',
  own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
  own_window_argb_visual = true,
  own_window_argb_value = 170,
-- own_window_transparent = false,
-- Compton fix:
  own_window_class = 'conky',

  minimum_width = {{ conky_min_size }},
  minimum_height = 1440,
  maximum_width = {{ conky_max_width }},
--draw_shades = false,
  draw_outline = false,
  draw_graph_borders = false,
  draw_borders = false,
-- Font color
  default_color = 'gray',
  default_shade_color = 'black',
-- not working:
--default_outline_color = '2a2a2a',

  alignment = 'top_left',
  gap_x = {{ conky_gap_x }},
  gap_y = {{ conky_gap_y }},

  override_utf8_locale = true,
  uppercase = true,
  format_human_readable = true,
  short_units = true,
  use_spacer = 'left',
  no_buffers = true,

  double_buffer = true,
};

conky.text = [[

${color white}${font Font Awesome 5 Brands}${font} System ${hr 1}$color

Date: ${alignr}${time %A d. %d/%m/%Y (%V) %H:%M}
Uptime: ${alignr}$uptime
Kernel: ${alignr}$kernel
Update(s) available:${alignr} ${execi 3600 checkupdates | wc -l}

${font Font Awesome 5 Free Solid}\
${if_match ${hwmon coretemp temp 1} > 45}${color red}${endif}\
${if_match ${hwmon coretemp temp 1} <= 45}${if_match ${hwmon coretemp temp 1} > 40}${color orange}${endif}${endif}\
${if_match ${hwmon coretemp temp 1} <= 40}${if_match ${hwmon coretemp temp 1} > 36}${color yellow}${endif}${endif}\
${if_match ${hwmon coretemp temp 1} <= 36}${if_match ${hwmon coretemp temp 1} > 25}${color white}${endif}${endif}\
${if_match ${hwmon coretemp temp 1} <= 25}${color lightblue}${endif}\
${font}${color white} Temperatures ${hr 1}$color

{# hwmonX/temp1 is physical #}
CPU: ${alignr}{% for item in conky_cpu_hwmon %}${hwmon coretemp temp {{ item.temp }}}°C{% if not loop.last %} /{% endif %}{% endfor %}

Motherboard:${alignr}${hwmon nct6793 temp 1}°C
{% if ansible_local.hardware.vga_vendor == 'NVIDIA Corporation' %}
GPU:${alignr}${nvidia temp}°C
{% endif %}
{% if ansible_local.hardware.vga_vendor == 'Advanced Micro Devices, Inc. [AMD/ATI]' %}
GPU:${alignr}${hwmon amdgpu temp 1}°C
{% endif %}
{% for device, data in ansible_devices.items() %}
{% if data.partitions is defined and data.partitions %}
{{ data.model }}: ${alignr}${hddtemp /dev/{{ device }}}°C{% endif %}{% endfor %}


${color white}${font Font Awesome 5 Free Solid}${font} Fans ${hr 1}$color

{% if ansible_form_factor == 'Laptop' %}
Left fan: ${alignr}${hwmon 1 fan 1} RPM
Right fan: ${alignr}${hwmon 1 fan 2} RPM
{% else %}
Exhaust fan: ${alignr}${hwmon nct6793 fan 1} RPM
CPU fan: ${alignr}${hwmon nct6793 fan 2} RPM
Intake fan: ${alignr}${hwmon nct6793 fan 3} RPM
{% endif %}
{% if ansible_local.hardware.vga_vendor == 'NVIDIA Corporation' %}
GPU Fan: ${alignr}(${nvidia fanlevel}%) ${nvidia fanspeed} RPM
{% endif %}
{% if ansible_local.hardware.vga_vendor == 'Advanced Micro Devices, Inc. [AMD/ATI]' %}
GPU Fan:${alignr}${hwmon amdgpu fan 1} RPM
{% endif %}
{% if ansible_form_factor == 'Laptop' %}

${font Font Awesome 5 Free Solid}${if_match "$battery_status" == "charged"}${else}${if_match "$battery_status" == "charging"}${else}\
${if_match $battery_percent > 80}${color white}${endif}\
${if_match $battery_percent <= 80}${if_match $battery_percent > 75}${color yellow}${endif}${endif}\
${if_match $battery_percent <= 75}${if_match $battery_percent > 50}${color orange}${endif}${endif}\
${if_match $battery_percent <= 50}${if_match $battery_percent > 25}${color #FF8000}${endif}${endif}\
${if_match $battery_percent < 25}${color red}${endif}\
${endif}${endif}${font}${color white} Battery ${hr 1}$color

${battery_bar {{conky_bar_full_size}}}
Status: ${alignr}${battery_status}
{% endif %}

${color white}${font Font Awesome 5 Free Solid}${font} CPU (${execi 10 cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor}) ${hr 1}$color
{% for cpu in range(0, ansible_processor_vcpus, 2) %}
${cpugraph cpu{{ cpu+1 }} {{ conky_graph_half_size }} {{ conky_graph_color_1 }} -t} ${alignr}${cpugraph cpu{{ cpu+2 }} {{ conky_graph_half_size }} {{ conky_graph_color_1 }} -t}
${freq_g cpu{{ cpu+1 }}} GHz ${cpu cpu{{ cpu+1 }}}% ${alignr}${freq_g cpu{{ cpu+2 }}} GHz ${cpu cpu{{ cpu+2 }}}%
{% endfor %}

${color white}Highest CPU $alignr CPU% / MEM%${color}
${top name 1}$alignr${top cpu 1} ${top mem 1}
${top name 2}$alignr${top cpu 2} ${top mem 2}
${top name 3}$alignr${top cpu 3} ${top mem 3}
${top name 4}$alignr${top cpu 4} ${top mem 4}
${top name 5}$alignr${top cpu 5} ${top mem 5}
${top name 6}$alignr${top cpu 6} ${top mem 6}
${top name 7}$alignr${top cpu 7} ${top mem 7}
${top name 8}$alignr${top cpu 8} ${top mem 8}

${color white}${font Font Awesome 5 Free Solid}${font} Memory ${hr 1}$color

${color white}Highest MEM $alignr CPU% / MEM%${color}
${top_mem name 1}$alignr${top_mem cpu 1} ${top_mem mem 1}
${top_mem name 2}$alignr${top_mem cpu 2} ${top_mem mem 2}
${top_mem name 3}$alignr${top_mem cpu 3} ${top_mem mem 3}
${top_mem name 4}$alignr${top_mem cpu 4} ${top_mem mem 4}
${top_mem name 5}$alignr${top_mem cpu 5} ${top_mem mem 5}
${top_mem name 6}$alignr${top_mem cpu 6} ${top_mem mem 6}
${top_mem name 7}$alignr${top_mem cpu 7} ${top_mem mem 7}
${top_mem name 8}$alignr${top_mem cpu 8} ${top_mem mem 8}

${memgraph {{ conky_graph_full_size }} {{ conky_graph_color_1 }} -t}
Ram ${alignr}$mem / $memmax ($memperc% used)

${color white}${font Font Awesome 5 Free Solid}${font} FILESYSTEM & I/O ${hr 1}$color

${color white}Highest I/O $alignr READ / WRITE${color}
${top_io name 1}$alignr${top_io io_read 1}   ${top_io io_write 1}
${top_io name 2}$alignr${top_io io_read 2}   ${top_io io_write 2}
${top_io name 3}$alignr${top_io io_read 3}   ${top_io io_write 3}
${top_io name 4}$alignr${top_io io_read 4}   ${top_io io_write 4}
${top_io name 5}$alignr${top_io io_read 5}   ${top_io io_write 5}
${top_io name 6}$alignr${top_io io_read 6}   ${top_io io_write 6}
${top_io name 7}$alignr${top_io io_read 7}   ${top_io io_write 7}
${top_io name 8}$alignr${top_io io_read 8}   ${top_io io_write 8}

${diskiograph_read {{ conky_graph_half_size }} {{ conky_graph_color_1 }} -t} ${alignr}${diskiograph_write {{ conky_graph_half_size }} {{ conky_graph_color_1 }} -t}
Read ${diskio_read}$alignr Write ${diskio_write}

Root: $alignr${fs_used /} /${fs_size /} (${fs_free /} / ${fs_free_perc /}% free)
${if_match ${fs_free_perc} <= 1}${color red}${endif}${fs_bar {{conky_bar_full_size}} /}${color}

Boot: $alignr${fs_used /boot} /${fs_size /boot} (${fs_free /boot} / ${fs_free_perc /boot}% free)
${if_match ${fs_free_perc} <= 1}${color red}${endif}${fs_bar {{conky_bar_full_size}} /boot}${color}

${color white}${font Font Awesome 5 Free Solid}
${if_up wlp3s0}${else} ${endif}${font} NETWORK ${hr 1}$color

DNS:${alignr}$nameserver

{% for interface in ansible_interfaces %}
{% if interface in ('eth0','enp0s25','ens9','wlp3s0') %}
${if_up {{ interface }}}{{ interface }}:$alignr${addr {{ interface }}} / ${execi 7200 curl -s http://icanhazip.com/}
{% if interface == 'wlp3s0' %}
Wireless network: ${alignr}${wireless_essid}
Speed / Frequency: ${alignr}${wireless_bitrate {{ interface }}} / ${wireless_freq {{ interface }}}
${wireless_link_bar {{conky_bar_full_size}} {{ interface }}}
{% endif %}

${downspeedgraph {{ interface }} {{ conky_graph_half_size }} {{ conky_graph_color_1 }} -t} ${alignr}${upspeedgraph {{ interface }} {{ conky_graph_half_size }} {{ conky_graph_color_2 }} -t}
Down: ${downspeed {{ interface }}} (${totaldown {{ interface }}}) ${alignr}Up: ${upspeed {{ interface }}} (${totalup {{ interface }}})${endif}{% endif %}{% endfor %}

{% if ansible_local.hardware.vga_vendor == 'NVIDIA Corporation' %}

${color white}${font Font Awesome 5 Free Solid}${font} GPU (${nvidia modelname}) ${hr 1}$color

${nvidiagraph gpufreq 20,137 23a51c ff661c -t} ${alignr}${nvidiagraph memfreq 20,137 23a5e0 4e66e0 -t}
GPU Freq: ${nvidia gpufreq}/${nvidia gpufreqmax} MHz ${alignr} Mem Freq: ${nvidia memfreq}/${nvidia memfreqmax} MHz

${nvidiagraph gpuutil 20,290 23a51c ff661c -t}
GPU utilization: ${alignr}${nvidia gpuutil}%
{% endif %}

${color white}${font Font Awesome 5 Free Solid}${font} Sound ${hr 1}$color

$pa_sink_description
$pa_card_active_profile
]];
