---
services:
  jellyfin:
    image: {{ containers.jellyfin.repo }}:{{ containers.jellyfin.tag }}
    hostname: {{ jellyfin.hostname }}
    container_name: jellyfin
    network_mode: "host"
    user: {{ jellyfin.uid }}:{{ jellyfin.gid }}
    group_add:
      - "989"
    devices:
      - /dev/dri/:/dev/dri/
    volumes:
      - /srv/jellyfin/data/config:/config
      - /srv/jellyfin/data/cache:/cache
      - /shared/pictures:/media/pictures:ro
      - /shared/clips:/media/clips:ro
      - /shared/movies:/media/movies:ro
      - /shared/series:/media/series:ro
    environment:
      TZ: Europe/Copenhagen
      JELLYFIN_PublishedServerUrl: "http://{{ jellyfin.hostname }}"
    restart: unless-stopped
