[Desktop Entry]
Name=Gnome first startup customization
Exec={{ ansible_user_dir }}/.local/bin/gnome-first-start.sh
Type=Application
Icon=Gnome
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=0
