/home/*/**/*.pyc
/home/*/**/.venv
/home/*/**/Cache
/home/*/**/__pycache__/**
/home/*/**/node_modules/**
/home/*/.ApacheDirectoryStudio
/home/*/.VirtualBox
/home/*/.Xauthority
/home/*/.adobe
/home/*/.ansible
/home/*/.ansible_async
/home/*/.btsync
/home/*/.cache
/home/*/.cinnamon/spices.cache
/home/*/.composer
/home/*/.config/chromium
/home/*/.config/composer
/home/*/.config/discord/Code Cache
/home/*/.config/google-chrome
/home/*/.config/libreoffice
/home/*/.config/nvim
/home/*/.config/pulse/cookie
/home/*/.config/steamtinkerlaunch/downloads
/home/*/.config/steamtinkerlaunch/proton
/home/*/.dbus
/home/*/.dolphin-emu
/home/*/.dotfiles
/home/*/.eclipse
/home/*/.electron-gyp
/home/*/.gem
/home/*/.gnupg/*.lock
/home/*/.gnupg/.#*
/home/*/.gnupg/gpg-agent-info-*
/home/*/.gnupg/random_seed
/home/*/.gnupg/rnd
/home/*/.gvfs
/home/*/.helm
/home/*/.kvm
/home/*/.local/bin
/home/*/.local/lib
/home/*/.local/lib/python*/site-packages/**
/home/*/.local/nodejs
/home/*/.local/share/Steam
/home/*/.local/share/Trash
/home/*/.local/share/ansible/tmp/
/home/*/.local/share/asdf/plugins/
/home/*/.local/share/cargo
/home/*/.local/share/feral-interactive
/home/*/.local/share/gvfs-metadata
/home/*/.local/share/nvim/lazy
/home/*/.local/share/recently-used.xbel*
/home/*/.local/share/vagrant/boxes
/home/*/.local/share/virtualenv/
/home/*/.macromedia
/home/*/.minecraft
/home/*/.mono
/home/*/.mozilla/firefox/*/Cache/**
/home/*/.mozilla/firefox/Crash Reports/
/home/*/.node-gyp
/home/*/.nv
/home/*/.nvm
/home/*/.openra
/home/*/.paradoxlauncher
/home/*/.pdepend
/home/*/.rbdoom3bfg
/home/*/.steam
/home/*/.thumbnails
/home/*/.ufoai
/home/*/.vagrant.d
/home/*/.venv/
/home/*/.wine
/home/*/.xsession-errors
/home/*/.xsession-errors.old
/home/*/.zsh/cache
/home/*/Dev/mnt
/home/*/Documents/Zim
/home/*/Downloads
/home/*/Emulation
/home/*/FiraxisLive
/home/*/GOG Games
/home/*/Games
/home/*/Hentet
/home/*/Hentninger
/home/*/Media/
/home/*/StarCraft II
/home/*/VirtualBox
/home/*/VirtualBox VMs
/home/*/remote_mounts
/home/*/tmp/
/home/aur_builder
/root/.cache
/var/cache
/var/lib/**/.cache
/var/lib/dkms/
/var/lib/docker/**
/var/lib/libvirt/**
/var/lib/mythtv/mythweb
/var/lib/pacman
/var/lib/systemd/coredump/
/var/lock
/var/run
/var/spool/cups
/var/tmp
/shared/clips
/shared/pictures
/shared/movies
/shared/series
/shared/emulation/Mame
/shared/emulation/Gamecube
/shared/emulation/PlayStation2
/shared/emulation/WII
