---
services:
  traefik:
    image: {{ containers.traefik.repo }}:{{ containers.traefik.tag }}
    container_name: traefik
    networks:
      - traefik
    ports:
      - 80:80
      - 443:443
      - 2222:2222
    environment:
      TZ: "Europe/Copenhagen"
      CLOUDFLARE_EMAIL: {{ email_addresses.external }}
      CLOUDFLARE_DNS_API_TOKEN: {{ traefik.acme.cloudflare.token }}
      CLOUDFLARE_POLLING_INTERVAL: 60
      CLOUDFLARE_PROPAGATION_TIMEOUT: 360
    volumes:
      - /etc/localtime:/etc/localtime:ro
{% if ansible_facts.distribution == 'Debian' %}
      - /etc/timezone:/etc/timezone:ro
{% endif %}
      - /run/docker.sock:/run/docker.sock:ro
      - /srv/traefik/data/static:/etc/traefik:ro
      - /srv/traefik/data/dynamic:/etc/traefik-dynamic/:ro
      - /srv/traefik/data/acme:/etc/traefik-acme/
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`{{ traefik.hostname }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"

networks:
  traefik:
    external: true
