---
version: '3'

services:
  traefik:
    image: traefik:2.9
    container_name: traefik
    networks:
      - traefik
    ports:
      - 80:80
      - 8080:8080
      - 443:443
    environment:
      TZ: 'Europe/Copenhagen'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /run/docker.sock:/run/docker.sock:ro
      - /srv/traefik/data/static:/etc/traefik:ro
      - /srv/traefik/data/dynamic:/etc/traefik-dynamic/:ro
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`{{ traefik.hostname }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"

networks:
  traefik:
    external: true
