---
providers:
  docker:
    endpoint: unix:///run/docker.sock
    watch: true
    exposedByDefault: false # ignore containers without traefik.enable=true
    network: traefik
  file:
    directory: /etc/traefik-dynamic
    watch: true

api:
  insecure: false
  dashboard: true

log:
  level: ERROR

metrics:
  prometheus: {}

accessLog:
  format: "json"
  fields:
    defaultMode: keep
    headers:
      defaultMode: keep

entryPoints:
  http:
    address: :80
    http:
      encodedCharacters:
        allowEncodedSlash: true # fix for pihole api
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - 192.168.0.0/24
        - 172.17.0.0/24
        - {{ traefik_network.network.IPAM.Config[0].Subnet }}
  https:
    address: :443
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - 192.168.0.0/24
        - 172.17.0.0/24
        - {{ traefik_network.network.IPAM.Config[0].Subnet }}
  ssh:
    address: ":2222"

# Support for unifi selfsigned cert
serversTransport:
  insecureSkipVerify: true

certificatesResolvers:
  letsEncrypt:
    acme:
      email: {{ email_addresses.external }}
      storage: /etc/traefik-acme/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 10
