---
version: '3'
services:
  duplicity-{{ item }}:
    image: rockhopperdk/duplicity-docker:latest
    hostname: {{ ansible_fqdn }}
{% if item == 'cmd' %}
    stdin_open: true
    tty: true
{% else %}
    command: {{ item }}
{% endif %}
    env_file:
      - ./settings.env
    volumes:
{% for volume in duplicity.volumes %}
      - /{{ volume }}:/backup/{{ volume|replace("/", "-") }}:ro
{% endfor %}
      - /root/.ssh/:/root/.ssh/:ro
      - /root/.gnupg:/root/.gnupg
      - /var/cache/duplicity:/var/cache/duplicity
      - /tmp:/restore
    networks:
      - duplicity-{{ item }}-network

networks:
  duplicity-{{ item }}-network:
