---
version: '3'
services:
  duplicity-{{ item }}:
    image: rockhopperdk/duplicity-docker:latest
    hostname: {{ ansible_fqdn }}
{% if item == 'cmd' %}
    stdin_open: true
    tty: true
{% else %}
    command: {{ item }}
{% endif %}
    environment:
      - PASSPHRASE={{ duplicity.passphrase }}
      - COMMON_OPTS=--encrypt-key {{ duplicity.encrypt_key }} --archive-dir /var/cache/duplicity
      - BACKUP_OPTS=--full-if-older-than 1M --volsize 1024 --asynchronous-upload
      - EXCLUDE_OPTS=--exclude-device-files --exclude-other-filesystems --exclude-filelist=/etc/duplicity/exclude-common
      - REMOTE_DIR={{ duplicity.remote_dir_base }}/{{ inventory_hostname }}
      - REMOVE_INC_OPTS=remove-all-inc-of-but-n-full 2 --force
      - REMOVE_SET_OPTS=remove-older-than 1Y --force
      - LANG=C.UTF-8
    volumes:
{% for volume in duplicity.volumes %}
      - /{{ volume }}:/backup/{{ volume|replace("/", "-") }}:ro
{% endfor %}
      - /root/.ssh/:/root/.ssh/:ro
      - /root/.gnupg:/root/.gnupg
      - /var/cache/duplicity:/var/cache/duplicity
      - /tmp:/restore
    networks:
      - duplicity-{{ item }}-network

networks:
  duplicity-{{ item }}-network:
