PASSPHRASE={{ duplicity.passphrase }}
COMMON_OPTS=--encrypt-key {{ duplicity.encrypt_key }} --archive-dir /var/cache/duplicity
BACKUP_OPTS=--full-if-older-than 2M --volsize 1024 --asynchronous-upload
EXCLUDE_OPTS=--exclude-device-files --exclude-other-filesystems --exclude-filelist=/etc/duplicity/exclude-common
REMOTE_DIR={{ duplicity.remote_dir_base }}/{{ inventory_hostname }}
REMOVE_INC_OPTS=remove-all-inc-of-but-n-full 1 --force
REMOVE_SET_OPTS=remove-older-than 1Y --force
LANG=C.UTF-8
