---
- name: Ensure traefik is installed and configured
  become: true
  tags:
    - traefik
  block:
    - name: Ensure vaulted vars are loaded
      ansible.builtin.include_vars:
        file: traefik.yml.vault

    - name: Ensure needed directories exist
      ansible.builtin.file:
        path: "/srv/traefik/{{ item }}"
        state: directory
        mode: "0775"
        owner: root
        group: docker
      loop:
        - data/static
        - data/dynamic
        - data/acme
        - deploy

    - name: Ensure http/https entrypoints are configured
      community.general.ufw:
        rule: "allow"
        name: "WWW Full"
        comment: "Traefik - http(s) entrypoints"

    - name: Ensure custom ssh entrypoint is configured
      community.general.ufw:
        rule: "allow"
        port: "2222"
        proto: "tcp"
        comment: "Traefik - ssh entrypoint"

    - name: Create traefik network
      community.docker.docker_network:
        name: traefik

    - name: Get infos on network
      community.docker.docker_network_info:
        name: traefik
      register: traefik_network

    - name: Ensure docker-compose.yml exists for traefik
      ansible.builtin.template:
        src: docker-compose.yml.j2
        dest: /srv/traefik/deploy/docker-compose.yml
        mode: "0664"
        owner: root
        group: docker

    - name: Ensure traefik.yml exists
      ansible.builtin.template:
        src: traefik.yml.j2
        dest: /srv/traefik/data/static/traefik.yml
        mode: "0664"
        owner: root
        group: docker
      notify: Restart traefik container

    - name: Ensure scrape config for traefik exists
      ansible.builtin.template:
        src: prometheus/traefik.yml.j2
        dest: /srv/monitoring/data/victoriametrics/prometheus/conf.d/traefik.yml
        mode: "0664"
        owner: root
        group: docker

    - name: Deploy Docker Compose stack
      community.docker.docker_compose_v2:
        project_name: traefik
        project_src: /srv/traefik/deploy
