---
- name: Configure alsa+pipewire system wide
  become: true
  tags:
    - sound
  block:
    - name: Ensure alsa-utils are installed
      community.general.pacman:
        name: "{{ packages }}"
        state: latest
      vars:
        packages:
          - alsa-lib
          - alsa-tools
          - alsa-utils
          - alsa-firmware

    - name: Ensure asound.state exists
      ansible.builtin.command: alsactl store
      args:
        creates: /var/lib/alsa/asound.state
      when:
        - ansible_virtualization_type != 'virtualbox'

    - name: Ensure alsa-restore service is started
      ansible.builtin.systemd:
        name: alsa-restore
        state: started
        enabled: true

    - name: Ensure pipewire is installed
      community.general.pacman:
        name: "{{ packages }}"
        state: latest
      vars:
        packages:
          - pipewire
          - pipewire-pulse
          - pipewire-alsa
          - wireplumber

    - name: Get the list of services
      ansible.builtin.service_facts:

    - name: Ensure old pulseaudio services are disabled
      ansible.builtin.systemd:
        enabled: false
        state: stopped
        name: "{{ item }}"
      when: item in services
      loop:
        - pulseaudio.socket
        - pulseaudio.service

    - name: Ensure pulseaudio related packages are uninstalled
      community.general.pacman:
        name: "{{ packages }}"
        state: absent
      vars:
        packages:
          - pulseaudio-alsa
          - pulseaudio
          - pulseaudio-modules-bt-git
          - pulseaudio-bluetooth

    - name: Ensure Sound Open Firmware is installed on thinkpads
      community.general.pacman:
        name: sof-firmware
        state: latest
      when: "'thinkpad' in group_names"

- name: Ensure wireplumber config directory exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/wireplumber/main.lua.d/"
    state: directory
    mode: "0750"
  tags:
    - sound
