[Unit]
Description=Rclone backup: {{ item.name }}
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=weekly
Persistent=True
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
