---
- name: Reload systemd
  become: yes
  systemd:
    deamon_reload: yes
  tags:
    - services

- name: Enable services
  become: yes
  systemd:
    name: "{{ item }}"
    enabled: yes
  with_items:
    - "{{ services }}"
  tags:
    - services
