---
services:
  ftpserver:
    build:
      context: .
      no_cache: true
    hostname: {{ ftpserver.hostname }}
    container_name: ftpserver
    volumes:
      - /srv/ftpserver/data/upload:/upload
    ports:
      - "20:20"
      - "21:21"
      - "{{ ftpserver.passive_port_range }}:{{ ftpserver.passive_port_range }}"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    environment:
      FTP_USER: {{ ftpserver.users.name }}
      FTP_PASSWORD: {{ ftpserver.users.password }}
      FTP_HOMEDIR: {{ ftpserver.users.homedir }}
      FTP_PASSIVE_PORT_RANGE: {{ ftpserver.passive_port_range }}
    healthcheck:
      test: ["CMD", "healthcheck"]
      interval: 30s
      timeout: 5s
      retries: 3
    read_only: true
    tmpfs:
      - /tmp
      - /run
      - /var/run
