- job_name: 'homeassistant'
  scrape_interval: 60s
  metrics_path: /api/prometheus

  # Long-Lived Access Token
  authorization:
    credentials: "{{ homeassistant.prometheus.token }}"

  scheme: https
  static_configs:
    - targets: ['{{ homeassistant.hostnames[0] }}']
