---
services:
  homeassistant:
    image: {{ containers.homeassistant.repo }}:{{ containers.homeassistant.tag }}
    container_name: home-assistant
    network_mode: "host"
    extra_hosts:
      - mosquitto:172.16.238.10
    environment:
      TZ: Europe/Copenhagen
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/home-assistant/data/home-assistant/config:/config
      - /srv/home-assistant/data/home-assistant/media:/media
      - mariadb-socket:/var/run/mysqld
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    depends_on:
      - mariadb
      - mosquitto
      - zigbee2mqtt
    healthcheck:
      # fail: Fail silently (no output at all) on server errors
      # location: redirect if location header is set
      # silent: don't output anything
      test: ["CMD", "curl", "--fail", "--location", "--silent", "http://127.0.0.1:8123"]
      interval: 90s
      timeout: 60s
      retries: 2
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW
      - NET_ADMIN
    security_opt:
      - no-new-privileges:true

  mariadb:
    image: {{ containers.ha_mariadb.repo }}:{{ containers.ha_mariadb.tag }}
    container_name: home-assistant-mariadb
    environment:
      TZ: Europe/Copenhagen
      MARIADB_ROOT_PASSWORD: "{{ homeassistant.db.root_password }}"
      MARIADB_DATABASE: "{{ homeassistant.db.database }}"
      MARIADB_USER: "{{ homeassistant.db.user }}"
      MARIADB_PASSWORD: "{{ homeassistant.db.password }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/home-assistant/data/mariadb/mysql:/var/lib/mysql
      - /srv/home-assistant/data/mariadb/entrypoint:/docker-entrypoint-initdb.d
      - mariadb-socket:/var/run/mysqld
    restart: unless-stopped

  mosquitto:
    image: {{ containers.mosquitto.repo }}:{{ containers.mosquitto.tag }}
    container_name: home-assistant-mosquitto
    environment:
      TZ: Europe/Copenhagen
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/home-assistant/data/mosquitto/config:/mosquitto/config
      - /srv/home-assistant/data/mosquitto/data:/mosquitto/data
      - /srv/home-assistant/data/mosquitto/log:/mosquitto/log
    networks:
      home-assistant-internal:
        ipv4_address: 172.16.238.10
    restart: unless-stopped

  zigbee2mqtt:
    image: {{ containers.zigbee2mqtt.repo }}:{{ containers.zigbee2mqtt.tag }}
    container_name: home-assistant-zigbee2mqtt
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/home-assistant/data/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    environment:
      TZ: Europe/Copenhagen
    {% if homeassistant.zigbee2mqtt.devices -%}
    devices:
      {% for device in homeassistant.zigbee2mqtt.devices -%}
      - {{ device }}:{{ device }}
    {% endfor -%}
    {% endif -%}
    restart: unless-stopped
    depends_on:
      - mosquitto
    extra_hosts:
      - mosquitto:172.16.238.10
    networks:
      traefik: {}
      home-assistant-internal:
        ipv4_address: 172.16.238.20
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zigbee2mqtt.rule=Host(`{{ homeassistant.zigbee2mqtt.hostname }}`)"
      - "traefik.http.services.zigbee2mqtt.loadbalancer.server.port=8080"
      - "traefik.http.routers.zigbee2mqtt.entrypoints=http"

  cloudflared:
    image: {{ containers.cloudflared.repo }}:{{ containers.cloudflared.tag }}
    container_name: home-assistant-cloudflared
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      TZ: Europe/Copenhagen
    networks:
      traefik: {}
    command: tunnel --no-autoupdate run --token {{ homeassistant.cloudflared.token }}

  whisper:
    image: {{ containers.whisper.repo }}:{{ containers.whisper.tag }}
    container_name: home-assistant-whisper
    restart: unless-stopped
    environment:
      TZ: Europe/Copenhagen
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/home-assistant/data/whisper:/data
    command: [ "--model", "medium-int8", "--language", "da" ]
    networks:
      home-assistant-internal:
        ipv4_address: 172.16.238.40

  piper:
    image: {{ containers.piper.repo }}:{{ containers.piper.tag }}
    container_name: home-assistant-piper
    restart: unless-stopped
    environment:
      TZ: Europe/Copenhagen
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/home-assistant/data/piper:/data
    command: [ "--voice", "da_DK-talesyntese-medium" ]
    networks:
      home-assistant-internal:
        ipv4_address: 172.16.238.30

volumes:
  mariadb-socket:

networks:
  traefik:
    external: true
  home-assistant-internal:
    ipam:
      driver: default
      config:
        - subnet: "172.16.238.0/24"
