# {{ ansible_managed }}
# Based on https://nerdoftheherd.com/news/2021/12/30/ansible-mosquitto-password-hash/

{{ homeassistant.mosquitto.user }}:{{ homeassistant.mosquitto.password | password_hash('pbkdf2_sha512', homeassistant.mosquitto.salt) | replace('$pbkdf2-sha512$', '$7$') | replace('.', '+') }}==
